body {
  color: $text;
}

.divider {
  width: 330px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  @media #{$mobile}{
    width: 300px;
  }
}

.show {
  display: block!important;
}
.hide {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.mr-0 {
  margin-right: 0!important;
}
.mb-0 {
  margin-bottom: 0!important;
}
